.Button {
    position: relative;
    font-weight: 500;
    color: rgb(128, 129, 133);
    height: 100%;
    cursor: pointer;
    transition: color 0.2s ease 0s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 16px;
    line-height: 26px;
    padding: 0 0 8px 0;
    background: transparent;
    border: none;
}
