.Container {
    width: 100%;
    padding: 20px 0;
    background-color: black;
}

.Content {
    display: flex;
    column-gap: 15px;
}
 
.Button {
    padding: 10px 24px;
    border-radius: 8px;
    font-size: 18px;
    line-height: 1;
    border: 1px solid #373636;
    background: #363333;
    color: white;
    cursor: pointer;
}